body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 20px !important;

}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.page-header {
  margin: 10px 0 10px !important;

}

#errorExplanation {
  background-color: #eee;
  p{
    color:red;
  }

}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    color: #333;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 1px 0 #333333;
}
// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  min-height: 30px;
  padding-left:  20px;
  padding-right: 20px;
  background: #333
  ;}
// Brand: website or project name
// -------------------------
.navbar .brand {

  color: white !important;
}
// Janky solution for now to account for links outside the .nav
// -------------------------
.navbar-link {
  color: #999 !important;
  &:hover {
    color: white !important ;
  }
}

// Dividers in navbar
// -------------------------
.navbar .divider-vertical {
  margin: 0 9px;
  border-left: 1px solid #333 !important;
  border-right: 1px solid #333 !important; ;
}

